<!DOCTYPE html>
<html>
<head>
<title>Welcome On My Portfolio</title>
</head>
<body>

<h1>Hi I am Pradyumn</h1>
<p>Trying to develope a good django project</p>
<h3> Welcome to My text Analyzer</h2>
<form action='/Analyze' method='get'>
<textarea name='text' style="margin: 0px; width: 1313px; height: 117px;"></textarea></br>
<input type="checkbox" name="removepunc"> Remove Punctuations<br>
<input type="checkbox" name="capital"> Capital Char<br>
<input type="checkbox" name="lower"> Lower Char<br>
<button type='Submit'> Analyze Text</button>

</form>
</body>
</html>